<mat-list role="list">
  <mat-list-item role="listitem">
    <a mat-line routerLink="/admin">Dashboard</a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a mat-line routerLink="orders">Orders</a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a mat-line routerLink="products">Products</a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a mat-line routerLink="customers">Customers</a>
  </mat-list-item>
  <mat-list-item role="listitem">
    <a mat-line routerLink="">Go site</a>
  </mat-list-item>
</mat-list>
